n8n-workflows/24-agent-orchestrator.json
{
  "name": "24-Agent Parallel Orchestrator",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Initialize 24-Agent Parallel Execution\nconst agents = {\n  // Tier 1: Elite Squad (8 agents)\n  elite: [\n    { id: 'captain', name: 'Captain', role: 'commander', priority: 1 },\n    { id: 'meta-router', name: 'Meta-Router', role: 'routing', priority: 2 },\n    { id: 'architect', name: 'Architect', role: 'planning', priority: 3 },\n    { id: 'frontend', name: 'Frontend', role: 'ui-ux', priority: 4 },\n    { id: 'backend', name: 'Backend', role: 'api-db', priority: 5 },\n    { id: 'guardian', name: 'Guardian', role: 'qa-security', priority: 6 },\n    { id: 'devops', name: 'DevOps', role: 'deploy', priority: 7 },\n    { id: 'evolution', name: 'Evolution', role: 'learning', priority: 8 }\n  ],\n  // Tier 2: Specialized Agents (8 agents)\n  specialized: [\n    { id: 'surgical', name: 'Surgical Editor', role: 'refactoring', priority: 9 },\n    { id: 'scout', name: 'Intelligence Scout', role: 'intel', priority: 10 },\n    { id: 'oracle', name: 'Architecture Oracle', role: 'design-review', priority: 11 },\n    { id: 'warlord', name: 'Test Warlord', role: 'testing', priority: 12 },\n    { id: 'sentinel', name: 'Security Sentinel', role: 'security', priority: 13 },\n    { id: 'hitman', name: 'Performance Hitman', role: 'optimization', priority: 14 },\n    { id: 'commando', name: 'PR Commando', role: 'pr-automation', priority: 15 },\n    { id: 'detective', name: 'Debug Detective', role: 'debugging', priority: 16 }\n  ],\n  // Tier 3: Support Agents (8 agents)\n  support: [\n    { id: 'atom', name: 'Atom-of-Thought', role: 'decomposition', priority: 17 },\n    { id: 'quantum', name: 'Quantum-MCP', role: 'quantum-computing', priority: 18 },\n    { id: 'parallel', name: 'Parallel Executor', role: 'concurrent', priority: 19 },\n    { id: 'queue', name: 'Task Queue', role: 'backlog', priority: 20 },\n    { id: 'preloader', name: 'Context Preloader', role: 'caching', priority: 21 },\n    { id: 'summarizer', name: 'Change Summarizer', role: 'git-tracking', priority: 22 },\n    { id: 'vector', name: 'Vector Memory', role: 'memory', priority: 23 },\n    { id: 'anomaly', name: 'Anomaly Detector', role: 'monitoring', priority: 24 }\n  ]\n};\n\nreturn [\n  {\n    json: {\n      agents: [...agents.elite, ...agents.specialized, ...agents.support],\n      zoComputers: ['zo-primary', 'zo-secondary', 'zo-tertiary'],\n      repository: 'https://github.com/youngstunners88/MasterBuilder7.git',\n      parallelMode: true,\n      syncInterval: 5000,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "name": "Initialize 24 Agents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parallel Agent Distribution across 3 Zo Computers\nconst items = $input.all();\nconst agents = items[0].json.agents;\nconst zoComputers = items[0].json.zoComputers;\n\n// Distribute agents evenly\nconst distribution = zoComputers.map((zo, idx) => ({\n  zoComputer: zo,\n  agents: agents.filter((_, i) => i % 3 === idx),\n  timestamp: new Date().toISOString()\n}));\n\nreturn distribution.map(d => ({ json: d }));"
      },
      "name": "Distribute to Zo Computers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://100.127.121.51:4200/api/agent/deploy",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyJson": "={\"agents\": {{JSON.stringify($json.agents)}}, \"zo\": \"{{$json.zoComputer}}\", \"parallel\": true}"
      },
      "name": "Deploy to Zo-1 (Primary)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 100],
      "webhookId": "deploy-zo-1"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://100.127.121.52:4200/api/agent/deploy",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyJson": "={\"agents\": {{JSON.stringify($json.agents)}}, \"zo\": \"{{$json.zoComputer}}\", \"parallel\": true}"
      },
      "name": "Deploy to Zo-2 (Secondary)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "webhookId": "deploy-zo-2"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://100.127.121.53:4200/api/agent/deploy",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyJson": "={\"agents\": {{JSON.stringify($json.agents)}}, \"zo\": \"{{$json.zoComputer}}\", \"parallel\": true}"
      },
      "name": "Deploy to Zo-3 (Tertiary)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 500],
      "webhookId": "deploy-zo-3"
    },
    {
      "parameters": {
        "jsCode": "// Synchronize Agent Status Across All Zo Computers\nconst deployments = $input.all();\n\nconst syncStatus = {\n  timestamp: new Date().toISOString(),\n  deployments: deployments.map(d => ({\n    zo: d.json.zo,\n    status: d.json.status,\n    agentsDeployed: d.json.agents?.length || 0\n  })),\n  totalAgents: deployments.reduce((sum, d) => sum + (d.json.agents?.length || 0), 0),\n  syncStatus: 'complete'\n};\n\nreturn [{ json: syncStatus }];"
      },
      "name": "Synchronize Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "command": "cd ~/MasterBuilder7 && git pull origin master && bun orchestrate-72.ts sync",
        "cwd": "=/home/teacherchris37/MasterBuilder7"
      },
      "name": "Git Sync & Start",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parallel Task Execution Loop\nconst tasks = [\n  { type: 'code', module: 'core', priority: 1 },\n  { type: 'test', module: 'agents', priority: 2 },\n  { type: 'build', module: 'infrastructure', priority: 3 },\n  { type: 'deploy', module: 'deploy', priority: 4 }\n];\n\nreturn tasks.map(t => ({ json: t }));"
      },
      "name": "Generate Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:4200/api/task/execute",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyJson": "={\"task\": {{JSON.stringify($json)}}, \"parallel\": true, \"zoCluster\": [\"zo-1\", \"zo-2\", \"zo-3\"]}"
      },
      "name": "Execute Parallel Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "command": "cd ~/MasterBuilder7 && git add -A && git commit -m \"Automated build: $(date -u +%Y-%m-%d-%H:%M:%S) UTC - 24 agents parallel execution\" && git push mb7 master",
        "cwd": "=/home/teacherchris37/MasterBuilder7"
      },
      "name": "Commit to MasterBuilder7",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 2,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Continuous Monitoring Loop\nreturn [{\n  json: {\n    status: 'cycle_complete',\n    nextRun: Date.now() + 300000, // 5 minutes\n    agents: 24,\n    zoComputers: 3,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Monitor & Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "interval": 5,
        "unit": "minutes"
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "jsCode": "// Stress Testing Configuration\nreturn [{\n  json: {\n    stressTest: true,\n    concurrentAgents: 24,\n    iterations: 100,\n    timeout: 30000,\n    metrics: ['cpu', 'memory', 'latency', 'throughput']\n  }\n}];"
      },
      "name": "Stress Test Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:4200/api/stress-test",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyJson": "={{JSON.stringify($json)}}"
      },
      "name": "Run Stress Tests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1700, 500]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{"node": "Initialize 24 Agents", "type": "main", "index": 0}]]
    },
    "Initialize 24 Agents": {
      "main": [[{"node": "Distribute to Zo Computers", "type": "main", "index": 0}]]
    },
    "Distribute to Zo Computers": {
      "main": [
        [{"node": "Deploy to Zo-1 (Primary)", "type": "main", "index": 0}],
        [{"node": "Deploy to Zo-2 (Secondary)", "type": "main", "index": 0}],
        [{"node": "Deploy to Zo-3 (Tertiary)", "type": "main", "index": 0}]
      ]
    },
    "Deploy to Zo-1 (Primary)": {
      "main": [[{"node": "Synchronize Status", "type": "main", "index": 0}]]
    },
    "Deploy to Zo-2 (Secondary)": {
      "main": [[{"node": "Synchronize Status", "type": "main", "index": 0}]]
    },
    "Deploy to Zo-3 (Tertiary)": {
      "main": [[{"node": "Synchronize Status", "type": "main", "index": 0}]]
    },
    "Synchronize Status": {
      "main": [[{"node": "Git Sync & Start", "type": "main", "index": 0}]]
    },
    "Git Sync & Start": {
      "main": [[{"node": "Generate Tasks", "type": "main", "index": 0}]]
    },
    "Generate Tasks": {
      "main": [[{"node": "Execute Parallel Tasks", "type": "main", "index": 0}]]
    },
    "Execute Parallel Tasks": {
      "main": [[{"node": "Commit to MasterBuilder7", "type": "main", "index": 0}]]
    },
    "Commit to MasterBuilder7": {
      "main": [[{"node": "Monitor & Loop", "type": "main", "index": 0}]]
    },
    "Schedule Trigger": {
      "main": [[{"node": "Initialize 24 Agents", "type": "main", "index": 0}]]
    },
    "Stress Test Config": {
      "main": [[{"node": "Run Stress Tests", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}
